body {
    background-color: rgb(111, 162, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.window {
    height: 200px;
    width: 200px;
    margin: 10px;
    border: solid 2px black;
    background: rgb(219, 244, 255);
}

.item {
    background-image: url('img.jpg');
    background-color: #fff;
    height: 200px;
    width: 200px;
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }
  
  